<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <link href="./src/styles/index.css" rel="stylesheet" type="text/css"></link>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body id="pa">
  <div class="container">
    {{> "./src/templates/geo-content.hbs"}}
  </div>

<script id="entry-template" type="text/x-handlebars-template">  
		{{#each list}}
		<div id="friends">
			<p><b>{{name}}</b> <span class="place">{{place}}</span> {{timestamp}}</br>{{comment}}</p>
		</div>				
		{{/each}}
</script>

</body>
</html>
